.wrapper{
  display : grid;
  background: grey;
}

.wrapper .header {
  display: grid;
  background: red;
  min-height: 10vh;
}

.wrapper .body {
  display: grid;
  grid-template-columns: max-content 1fr;
  background: blue;
  min-height: 80vh;
}

.wrapper .body .leftSection{
  background: pink;
  padding: 30px;
}
.wrapper .body .rightSection{
  background: blue;
}

.wrapper .footer{
  display: grid;
  background: green;
  min-height: 10vh;
}