body{
  margin: 2%;
  border: 1px solid black;
  background-color: #b3b3b3;
}
#image{
  line-height:150px;
  width: 800px;
  height: 400px;
  border:5px solid black;
  margin:0 auto;
  background-color: #8e68ff;
  background-image: url('');
  background-repeat: no-repeat;
  color:#FFFFFF;
  text-align: center;
  background-size: 100%;
  margin-bottom:25px;
  font-size: 150%;
}
.preview{
  width: 190px;
  height: 150px;
  margin-left:7%;
  margin-top:2%;
  border: 10px solid black;
}
img{
  width:95%;
}